---
import BaseLayout from "../layouts/BaseLayout.astro"

import ContactCTA from "../components/ContactCTA.astro"
import Hero from "../components/Hero.astro"
import Platform from "../components/Platform.astro"
import Grid from "../components/Grid.astro"
---

<BaseLayout title="About | Robb 4 Livonia">
  <div class="stack gap-20">
    <main class="wrapper about">
      <Hero
        title="About"
        tagline="Thanks for stopping by. Read below to learn more about myself and my background."
      >
        <img
          width="1553"
          height="873"
          src="/assets/family-2.jpg"
          alt="Robb Drzewicki and his family"
        />
      </Hero>

      <section>
        <h2 class="section-title"></h2>
        <div class="content">
          <p>
            I'm a life-long Livonia resident. I love the town I grew up in and
            I'm choosing to raise my children right here in Livonia. My primary
            hope is to ensure that my kids and their friends feel like they've
            got a home here for life, not just until adulthood.
          </p>
          <p>
            My parents chose Livonia because it had great schools, space to
            build a home, and a large portion of my extended family. My mother
            was in real estate and eventually went on to work for the VP of
            Investor and Public Relations at <a
              href="https://www.vericast.com/about-us/"
              >Valassis Communications</a
            >. My father was a Dentist in Livonia for over 30 years, with most
            of that time spent as one of the founding partners at <a
              href="https://www.greatlakesgreatsmiles.com/concord-dental-group"
              >Concord Dental</a
            > on Middlebelt Road.
          </p>
          <p>
            I was raised in a wonderful subdivision in a house that backed up to
            Bicentennial Park. I attended <a
              href="https://www.livoniastmichael.org/">St. Michael's</a
            > from first through eight grade. In 9th grade, I found a home at <a
              href="https://www.livoniapublicschools.org/Stevenson"
            >
              Stevenson High School
            </a>, specifically in the School of Global Education. I attended
            both <a href="https://www.schoolcraft.edu/">Schoolcraft College</a> and
            <a href="">Madonna University</a>, giving me a sampling of all of
            the great educational opportunities Livonia has to offer.
          </p>
          <p>
            <img
              src="/assets/tree.jpg"
              alt="Robb Drzewicki and his family planting a tree"
              class="float-right m-8 mr-0 w-1/2"
            />
            In 2003, I met my wife, Becky, while we were both working for Applebees.
            We lived briefly in Plymouth and then in Northville, but our lives always
            revolved around my hometown of Livonia. Over the course of 3 years, we
            rented two homes on the same street, and eventually bought the house
            next door (if you had neighbors like ours, you'd stick around too).
          </p>
          <p>
            I held off on my career for a few years and opted to be a
            stay-at-home parent to my two sons, Jackson and Jameson. While being
            a stay-at-home dad, I engaged our community in a number of ways. I
            was an active PTA parent; I raised money for a <a
              href="https://taffycharity.com/">small charity</a
            > my family started; and I organized one of the largest children's cancer
            fundraisers in Metro Detroit (supporting the <a
              href="https://www.stbaldricks.org/">St. Baldricks Foundation</a
            >). Most recently, I spent 5 years working for a large non-profit
            out of Wayne, MI that supports individuals with intellectual and
            developmental disabilities throughout the state.
          </p>

          <p>
            My work in the community, both professional and volunteer, has given
            me the opportunity to meet some of the most incredible, energetic,
            and hard-working people in the world. Join me in helping shape the
            future of our community.
          </p>

          <Grid variant="offset">
            <img
              src="/assets/baldricks.jpg"
              alt="Robb at a St. Baldrick's event raising money for childhood cancer research."
            />
            <img
              src="/assets/PTA-Chili.jpg"
              alt="Robb Drzewicki at the PTSA Chili Cookoff"
            />
            <img
              src="/assets/baldricks-dennis.jpg"
              alt="Robb Drzewicki getting his head shaved by Dennis for St. Baldrick's"
            />
            <img
              src="/assets/fam1.jpg"
              alt="Robb Drzewicki and his family outside in the woods"
            />
          </Grid>
        </div>
      </section>
    </main>
    <div class="px-12 gap-20 lg:gap-48 flex flex-col">
      <Platform location="about-page" />
    </div>
    <ContactCTA />
  </div>
</BaseLayout>

<style>
  .about {
    display: flex;
    flex-direction: column;
    gap: 3.5rem;
  }

  img {
    margin-top: 1.5rem;
    border-radius: 1.5rem;
    box-shadow: var(--shadow-md);
  }

  section {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    color: var(--gray-200);
  }

  .section-title {
    grid-column-start: 1;
    font-size: var(--text-xl);
    color: var(--gray-0);
  }

  .content {
    grid-column: 2 / 2;
  }

  .content :global(a) {
    color: var(--accent-light);
    text-decoration: 1px solid underline transparent;
    text-underline-offset: 0.25em;
    transition: text-decoration-color var(--theme-transition);
  }

  .content :global(a:hover),
  .content :global(a:focus) {
    text-decoration-color: currentColor;
  }

  @media (min-width: 50em) {
    .about {
      display: grid;
      grid-template-columns: 1fr 60% 1fr;
    }

    .about > :global(:first-child) {
      grid-column-start: 2;
    }

    section {
      display: contents;
      font-size: var(--text-lg);
    }
  }
</style>
