---
import BaseLayout from "../layouts/BaseLayout.astro"

import ContactCTA from "../components/ContactCTA.astro"
import Hero from "../components/Hero.astro"
---

<BaseLayout title="Donate | Robb 4 Livonia">
  <div class="stack gap-20">
    <main class="wrapper about">
      <Hero
        title="Donate Now"
        tagline="Thanks for your interest in supporting my campaign!"
      >
        <img
          width="1553"
          height="873"
          src="/assets/family-seal-cropped-1.png"
          alt="Robb Drzewicki with his wife and two sons"
        />
      </Hero>

      <section>
        <h2 class="section-title"></h2>
        <div class="content">
          <p>donation form goes here</p>
        </div>
      </section>
    </main>
  </div>

  <ContactCTA />
</BaseLayout>

<style>
  .about {
    display: flex;
    flex-direction: column;
    gap: 3.5rem;
  }

  img {
    margin-top: 1.5rem;
    border-radius: 1.5rem;
    box-shadow: var(--shadow-md);
  }

  section {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    color: var(--gray-200);
  }

  .section-title {
    grid-column-start: 1;
    font-size: var(--text-xl);
    color: var(--gray-0);
  }

  .content {
    grid-column: 2 / 4;
  }

  .content :global(a) {
    text-decoration: 1px solid underline transparent;
    text-underline-offset: 0.25em;
    transition: text-decoration-color var(--theme-transition);
  }

  .content :global(a:hover),
  .content :global(a:focus) {
    text-decoration-color: currentColor;
  }

  @media (min-width: 50em) {
    .about {
      display: grid;
      grid-template-columns: 1fr 60% 1fr;
    }

    .about > :global(:first-child) {
      grid-column-start: 2;
    }

    section {
      display: contents;
      font-size: var(--text-lg);
    }
  }
</style>
